
.faq-accordion {
  background-color: var(--primary-400) !important;
  color: var(--text-primary);
  margin-bottom: 8px;
  border-radius: 4px;

  &::before {
    display: none;
  }

  .MuiAccordionSummary-root {
    color: var(--text-primary);
  }

  .MuiAccordionSummary-expandIconWrapper svg {
    color: var(--grey-100);
    fill: var(--grey-100);
  }

  .MuiAccordionDetails-root {
    color: var(--grey-300);
  }
}